<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Buck IT</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="../static/css/welcome.css" th:href="@{/css/welcome.css}" rel="stylesheet"/>
<style>
    input[type="submit"] {
        width: 150px;
        height: 45px;
        background: orange;
        color: #fff;
        border: none;
        border-radius: 5px;
        -webkit: border-radius: 5px;
        margin-top: 20px;

    }
    .li-cat {
        border-bottom: 1px solid #ccc;
        line-height: 2;
    }
    input[type="checkbox"] {
        background: #24fb64;
    }
    li {list-style-type: none;}
    .mt {
        margin-top: 30px;
        margin-left: -30px;
    }

</style>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<form th:action='@{/user/1/items}' method="GET">
    <input type="search" class="form-control search-text" value="Category" name="catsearch"/>
    <div class="container mt">
        <ul>
            <li th:each="category : ${categories}" class = "li-cat">
                <label th:text="${category.getDescription()}"/>
                <input type="checkbox" th:name="idChecked" th:value="${category.id}" class="pull-right form-check-input"/>
            </li>
        </ul>
        <input type="submit" value="Next  >" class = "submit-orange pull-right">
    </div>
</form>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>